.cache/*
pl0c
bin/*
output/*
compile_commands.json

# gdb
.gdb_*
gdb.txt

TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

Thumbs.db
Desktop.ini
*.DS_Store

.meghanada/*
.vscode/*
.projectile