.cache/*
pc
pcc
pl0c
core*
bin/*
output/*
compile_commands.json
*.s
*.o
*.run
*.swp

# gdb
.gdb_*
gdb.txt

TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

Thumbs.db
Desktop.ini
*.DS_Store

.meghanada/*
.vscode/*
.projectile
viz*
dag*.dot
dag*.dot.pdf
